table {
    width: 100%;
    background-color: #ffffff; // White background for the table

    th, td {
        background-color: #ffffff !important; // Ensure cells have a white background
        color: #000306 !important; // Blue text color to match chart lines
    }

    .mat-row, .mat-header-row {
        border-bottom: 1px solid #e0e0e0; // Light gray border for rows
    }
}

.mat-table {
    border-radius: 8px; // Rounded corners
    overflow: hidden; // Prevent overflow for rounded corners
}